<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :role, :value => "#{@user_role}"%>
  <%= f.hidden_field :code, :value => "#{@student.code}"%>
  
  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %></div>
  
  <div><%= f.label :gender %><br />
    <label>Male</label>
    <%= f.radio_button :gender, 'male' %>
    <label>Female</label>
    <%= f.radio_button :gender, 'female' %></br>
  </div>
  
  <div><%= f.label :birth_day %><br/>
  <%= f.text_field :birth_day, :class=>'datepicker' %></div>
  
  <div><%= f.label :phoneprefix %><br />
  <%= f.text_field :phoneprefix %></div>
  
  <div><%= f.label :phone %><br />
  <%= f.text_field :phone %></div>
  
  <div><%= f.label :password %><br />
  <%= f.password_field :password, :required => true %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :required => true %></div>

  <div><%= f.submit "Sign up",class:"btn btn-normal", onclick:"return validate_form()" %></div>
<% end %>

<script type="text/javascript">
  $('#user_birth_day').datepicker({
    format: "dd/mm/yyyy",
    startView: 2
  });
</script>  
