<div class="container middle_section">
  <div id="subject_list" class="span6 move_down">
    <%= back_button %>
    <h5><%= t("school_administration.edit_student_record.record_of_the_student") %></h5>
    <%= form_for @student_record, url: update_student_school_administrations_path(:id => @student_record), method: :post, :validate => true do|f|%>
      <% if @student_record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student_record.errors.count, "error") %>Something went wrong!</h2>
          <ul>
            <% @student_record.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>  
      <% end %>
      <table>
        <tr>
          <td><%= f.label :student_name %></td>
          <td><%= f.text_field :student_name %></td>
        </tr>
        <tr>
          <td><%= f.label :current_grade %></td>
          <td><%= f.select :current_grade, options_for_select(uniq_school_grade_name, @student_record.current_grade) %></td>
        </tr>   
      </table>  
      <%= f.fields_for :user do |builder| %>
        <%= builder.label :phone %>
        <div id="phone_error">
        </div>
        <%= builder.text_field :phone %><br>
        <div id="phoneprefix_error">
        </div>
        <%= builder.label :phoneprefix %>
        <%= builder.text_field :phoneprefix %><br>
        <%= builder.hidden_field :name %>
      <% end %>
      <%= f.submit "update", :class=>'btn', onclick:"return validate_form()"%>
    <%end%>
  </div>
</div>

<script type="text/javascript">
  $('#student_from_excel_birth_day').datepicker({
    format: "dd/mm/yyyy",
    startView: 2
  });
  
  function validate_form()
  { var valid = true;
    if($("#student_from_excel_user_attributes_phone").val().length != 9)
    { 
      $("#phone_error").text("Phone must have size of 9").fadeIn(1000);
      valid =false;
    }
    else if($("#student_from_excel_user_attributes_phoneprefix").val().length != 2)
    { 
      $("#phoneprefix_error").text("Phoneprefix must have size of 2 ").fadeIn(1000);
      valid =false;
    }
     
    return valid;
  }
  
</script>
