<h4><%= t('school_administration.index.school_admin_dashboard') %></h4>
<div>
  <div class="icon_container span">
    <div>
      <%= link_to image_tag ("circle.png"), {:action => '#'} %>
    </div>
    <b class="icon_title"><%= t('school_administration.index.analytics')%></b>
    <div>Description for Analytics Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
  </div>
  <div class="icon_container span">
    <div>
      <%= link_to image_tag ("circle.png"), {:action => '#'} %>
    </div>
    <b class="icon_title"><%= t('school_administration.index.grades')%></b>
    <div>Description for Analytics Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
  </div>
  <div class="icon_container span">
    <div>
      <%= link_to(image_tag("circle.png") ,show_users_school_administrations_path) %>
    </div>
    <b class="icon_title"><%= t('school_administration.index.users')%></b>
    <div>Description for Analytics Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
  </div>
  <div class="icon_container span">
    <div>
      <%= link_to image_tag ("circle.png"), {:action => '#'} %>
    </div>
    <b class="icon_title"><%= t('school_administration.index.emails')%></b>
    <div>Description for Analytics Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
  </div>
</div> 
