<%= back_button %>
<div id="subject_list" class="span9 move_down">
  <div class="container">
    <div id="content">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#students" data-toggle="tab">Student</a></li>
        <li><a href="#parents" data-toggle="tab">Parents</a></li>
        <li><a href="#professors" data-toggle="tab">Professors</a></li>
      </ul>
      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="students">
          <%= form_tag(search_student_school_administrations_path, :method => :get, :remote=>'true') do %>
            <%= text_field_tag('student_name', nil, placeholder: 'Search students by name') %> 
            <%= submit_tag(t("school_administration.show_students.search_student"), :class=>'btn')%>
          <% end %>  
          <b><%= t('school_administration.show_students.filter')%></b>
          <%= form_tag(apply_filter_to_student_school_administrations_path, :method => :post, :remote => true, :id=>'apply_filter_form') do %>
            <table>
              <tr>
                <td><lable><%= t('school_administration.show_students.grade')%></lable></td>
                <td><%= select_tag "grade", options_for_select(school_grades), :class=>'set_filter_size' %></br></td>
              </tr>
              <tr>  
                <td><lable><%= t('school_administration.show_students.first_access')%></lable></td>
                <td><%= select_tag "first_access", options_for_select(['All','true','false']), :class=>'set_filter_size' %></br></td>
              </tr>
              <tr>
                <td><lable><%= t('school_administration.show_students.active')%> </lable></td>
                <td><%= select_tag "active", options_for_select(['All',['true','active'],['false','deactive']]), :class=>'set_filter_size' %></br></td>
              </tr>
              <tr>
                <td><lable>Parent Number </lable></td>
                <td><%= select_tag "parent_number", options_for_select(number_of_parents(@all_students)), :class=>'set_filter_size' %></br></td>
              </tr>


            </table>  
            <%= submit_tag "submit", :id=>"submit_filters"%>
          <% end %>
          <%= render partial:'students_list'%>
          <%= paginate @all_students %>
        </div>
        <div class="tab-pane" id="parents">
          <%= form_tag(search_parent_school_administrations_path, :method => :get, :remote=>'true') do %>
            <%= text_field_tag('parent_name', nil, placeholder: 'Search parents by name') %> 
            <%= submit_tag("Search parent", :class=>'btn')%>
          <% end %>
          <%= form_tag(apply_filter_to_parent_school_administrations_path, :method => :post, :remote => true, :id=>'apply_filter_parent_form') do %>
            <table>
              <tr>
                <td><lable><%= t('school_administration.show_students.active')%> </lable></td>
                <td><%= select_tag "active_parent", options_for_select(['All',['true','active'],['false','deactive']]), :class=>'set_filter_size' %></br></td>
              </tr>
              <tr>  
                <td><lable>Student Number </lable></td>
                <td><%= select_tag "student_number", options_for_select(number_of_students(@parents)), :class=>'set_filter_size' %></br></td>
              </tr>
            </table>  
            <%= submit_tag "submit", :id=>"submit_parent_filters"%>
          <% end %>
          <%= render partial:'parents_list'%>
        </div>
        <div class="tab-pane" id="professors">
          <%= render partial:'professors_list'%>
        </div>  
      </div>  
    </div>  
  </div>  
</div>

<script>
  var expand_student_details;
  var expand_parent_details; 
  expand_student_details = function(student_id) {
    return $("#student_" + student_id).fadeToggle();
  };
  
  expand_parent_details = function(parent_id) {
    return $("#parent_" + parent_id).fadeToggle();
  };
  
</script>
