<div id="subject_list" class="span9 move_down">
  <div>
    <%= link_to_function "Back", "history.back()", :class => "btn btn-primary" %>
  </div>
  <%= form_tag(search_student_school_administrations_path, :method => :get) do %>
    <%= text_field_tag('student_name', nil, placeholder: 'Search students by name') %> 
    <%= submit_tag(t("school_administration.show_students.search_student"), :class=>'btn')%>
  <% end %>  
  <b><%= t('school_administration.show_students.filter')%></b>
  <%= form_tag(apply_filter_school_administrations_path, :method => :post, :remote => true, :id=>'apply_filter_form') do %>
    <table>
      <tr>
        <td><lable><%= t('school_administration.show_students.grade')%></lable></td>
        <td><%= select_tag "grade", options_for_select(school_grades), :class=>'set_filter_size' %></br></td>
      </tr>
      <tr>  
        <td><lable><%= t('school_administration.show_students.first_access')%></lable></td>
        <td><%= select_tag "first_access", options_for_select(['All','true','false']), :class=>'set_filter_size' %></br></td>
      </tr>
      <tr>
        <td><lable><%= t('school_administration.show_students.active')%> </lable></td>
        <td><%= select_tag "active", options_for_select(['All',['true','active'],['false','deactive']]), :class=>'set_filter_size' %></br></td>
      </tr>
    </table>  
    <%= submit_tag "submit", :id=>"submit_filters"%>
  <% end %>
  <div id='show_student_list'>
    <%= render partial:'students_list'%>
  </div>  
</div>

<script>
  var expand_student_details;

  expand_student_details = function(student_id) {
    return $("#" + student_id).fadeToggle();
  };
</script>
