<div id='change_date_range' class="move_right show_border">
  <%= form_tag( change_date_users_path, :method => :post, :remote => true, id:"change_month_form") do %>
    <%= hidden_field_tag :student_id, @student.id %>
    <% unless @student_school_status.blank? %>
      <%= hidden_field_tag :student_status_id, @student_school_status.id %>
    <% end %>
    <%= t('users.change_date_range.select_year') %>
    <%= select_year(set_selected_year, :start_year => set_start_year, :end_year => set_end_year) %></br>
    <% bimesters = monthly_grades_bimesters %>
    <%= t('users.change_date_range.period') %>
    <%= select_tag "start_month", options_for_select(bimesters, select_default_start_bimester) %>
    <%= t('users.change_date_range.untill') %> <%= select_tag "end_month", options_for_select(bimesters, select_default_end_bimester) %>
    <%= submit_tag "submit", :class=>"btn", id:'submit_date_range'%>
  <% end %>
</div>

