<div class="alignment">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h5 class="panel-title " >
        <% if @role == User.find_student_role %>
          Please, inform your CPF to continue.
        <% elsif @role == User.find_parent_role %>
          Please, inform the CPF of one student who you are responsible for to continue.
        <% elsif @role == User.find_professor_role %>
          Please, inform your registered e-mail to continue.
        <% end %>
      </h5>
    </div>
    <div class="panel-body">
      <%= form_tag( create_registration_with_cpf_users_path, :method => :post ) do %>
        <%= hidden_field_tag :user, @role%>
        <% if @role != 'professor'%>
          <div><%= label_tag :cpf %>
            <%= text_field_tag :cpf %>
          </div>
        <% else %>
          <div><%= label_tag :email %>
            <%= text_field_tag :email,"" ,:required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
          </div>
        <% end %>  
        <div>
          <%= submit_tag "Submit",class:"btn btn-normal" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
