<div class="alignment">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h5 class="panel-title " >
        <% if @role == "student" %>
        Please, inform your CPF to continue.
        <% else %>
        Please, inform the CPF of one student who you are responsible for to continue.
        <% end %>
      </h5>
    </div>
    <div class="panel-body">
      <%= form_tag( create_registration_with_cpf_users_path, :method => :post ) do %>
        <%= hidden_field_tag :user, @role%>
        <div><%= label_tag :cpf %>
          <%= text_field_tag :cpf %></div>
        <div>
          <%= submit_tag "Submit",class:"btn btn-normal" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
