<div class="row">
  <div class="col-md-5 col-sm-5 col-xs-12 padd_none" id="student_parent_dashboard">
    <div class="row">
      <% if current_parent && @parent_students.size > 0 %>
        <div class="col-md-3 col-sm-3 col-xs-6 padd_none">
          <%= t('users.student_parent_dashboard.select_student') %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 padd_none">
          <%= form_tag(change_student_users_path, :method => :post, :remote => true, :id=>'select_student_form') do %>
            <%= select_tag "student_list", options_for_select(student_options_for_parent) %>
          <% end %>
          <%= render partial: "change_school"%>
        </div>  
      <% end %>
      <% if current_student %>
        <div class= "col-md-4">
          <%= render partial: "change_school"%>
        </div>
      <% end %>
      <div class="clearfix"></div>
      <%= render partial:"student_details" %>
    </div>
  </div>
  <div class="col-md-7 col-sm-7 col-xs-12 change_bimester" >
    <%=render partial:"change_date_range"%> 
  </div>

  <div class="col-md-2 col-sm-2 col-xs-2 padd_none current_month_margin pull-right">
    <%=link_to t('users.student_parent_dashboard.see_current_bimester'), "javascript: void(0)", :id=>"current_bimester",class: "current_month_btn pull-right" %>
  </div>
</div>

<!--- second row start -->
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="row section1">
      <p><%= t('users.student_parent_dashboard.select_subjects') %></p>
      <%= form_tag(change_subjects_users_path, :id=>'select_subject_form') do %>
        <%= hidden_field_tag :student_id_of_subject, @student.id %>
        <%= hidden_field_tag :student_status_id_of_subject, @student_school_status.id unless @student_school_status.blank? %>
        <select id="select_subject" class="col-md-10 col-sm-10 col-xs-10" name="subjects[]" multiple="multiple">
          <% @subject_average.each do |subject,average| %>
            <option value="<%= subject %>"><%= subject %></option>
          <% end %>
        </select>  
      <% end %>
    </div>
    <%= render partial:"show_average_and_noshow" %>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12 padd_none text-right right_section">
    <div id="chart_div" class="chart"></div>
    <div id="chart_div2" class="chart"></div>
  </div>
</div>


<!--- middle content end -->

<script>
  var current_student_average = <%= set_month_average_to_graph %>
  var particular_students_average = <%= set_average_particular_student_to_graph %>
  google.setOnLoadCallback(drawChart(current_student_average, particular_students_average ));
  function drawChart(current_student_average, particular_students_average) {
    var data = google.visualization.arrayToDataTable(current_student_average);
    var data2 = new google.visualization.arrayToDataTable(particular_students_average);
    var options = {
      backgroundColor:'#F8F8F8',
      vAxis: { title: "Average", minValue: 0, maxValue: 10},
      hAxis: { title: "Bimester"},
      lineWidth: 3,
      pointSize: 7,
      series: {
            0: {
                color: '#0655a4',
            },
            1: {
                color: '#FF5817',
            }
      }
    };
    var options2 = {
      backgroundColor:'#F8F8F8',
      vAxis: { title: "Average", minValue: 0, maxValue: 10},
      hAxis: { title: "Student"},
      interpolateNulls: true,
      series: {
            0: {
                lineWidth: 0,
                color: '#0655a4',
                pointSize: 7
            },
            1: {
                lineWidth: 0,
                color: '#818181',
                pointSize: 7
            },
            2: {
                lineWidth: 4,
                color: '#FF5817'
            }
        }
    };
    
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    google.visualization.errors.removeAll(document.getElementById('chart_div'))   
    var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
    chart2.draw(data2, options2);
    google.visualization.errors.removeAll(document.getElementById('chart_div2'))   
  }
  
  $(window).resize(function() {
    return drawChart(current_student_average, particular_students_average);
  });

</script>

