<div class="span10">
  <% if current_user.is_parent? && @students.size > 0 %>
    <div class= "span4">
      <label>See data of :-</label>
      <%= form_tag(change_student_users_path, :method => :post, :remote => true, :id=>'select_student_form') do %>
        <%= select_tag "student_list", options_for_select(@students.map{|student| [student.student_name, student.id]}) %>
        <%= submit_tag "submit", :id=>"submit_student_list"%>
      <% end %>  
    </div>
  <% end %>
    
  <div class="move_right show_border">
    <%= form_tag( change_date_users_path, :method => :post, :remote => true, class:"change_month_form") do %>
      <%= hidden_field_tag :student_id, @student.id %>
      Select Year:
      <%= select_year(Date.today, :start_year => Date.today.year-2, :end_year => Date.today.year) %></br>
      Select Month(s):
      From: <%= select_month(Date.today, field_name: 'start') %>
      To: <%= select_month(Date.today+1, field_name: 'end') %>
      <%= submit_tag "submit", :class=>"btn", id:'submit_date_range'%>
    <% end %>
  </div>
</div>    
<div class="span10 move_down">
  <% if current_user.is_parent? %>
    <div id="student_detail" class="span">
      <b>Seeing data of student name :- <%= @students.first.student_name%></b></br>
      <b>School Name:- <%= @students.first.school.name %></br>
      <b>Grade Name:- <%= @students.first.current_grade %></b>  
    </div>
  <% end %>
  <% if current_user.is_student? %>
    <div id="student_detail" class="span">
      <b>Seeing data of student name :- <%= @student.student_name%></b></br>
      <b>School Name:- <%= @student.school.name %></br>
      <b>Grade Name:- <%= @student.current_grade %></b>  
    </div>
  <% end %>
  <%= link_to 'See current month', change_date_users_path(date: {"year"=>Date.today.year, "start"=>Date.today.month, "end"=>Date.today.month},student_id:@student.id), method: :post, class: 'btn move_right', id:'select_current_month', :remote => true %></br>
  
</div>

<div class='span10 move_down'>
  <b>Select a subject:-</b>
  <%= form_tag(change_subjects_users_path, :method => :post, :remote => true, :id=>'select_subject_form') do %>
    <%= hidden_field_tag :student_id_of_select_subject, @student.id %>
    <select id="select_subject" name="subjects[]" multiple="multiple">
      <option value="select_all">Select All</option>
      <% @subject_average.each do |subject,average| %>
        <option value="<%= subject %>"><%= subject %></option>
      <% end %>
    </select>  
    <%= submit_tag "submit", :id=>"submit_subject_list"%>
  <% end %>
  
</div>
<div class="span3 move_down">
  <div id="subject_list" >
    <table class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th>Subject</th>
        <th>Average</th>
      </tr>
      </thead>
      <tbody> 
        <%if @subject_average.size > 0%>
          <% @subject_average.each do |subject,average| %>
            <tr>
              <td><lable><%= subject %></lable></td>
              <td><lable><%= average %></lable></td>
            </tr>
          <%end%>
        <% end %>
      </tbody>
    </table>
    <div id="overall_average" class="move_down">
      OverAll Average: <%= @overall_average %>
    </div>
  </div>

  <div id="no_show_list" class="move_down">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th>Subject</th>
        <th>No Show</th>
      </tr>
      </thead>
      <tbody> 
        <%if @total_no_show.size > 0%>
          <% @total_no_show.each do |subject,no_show| %>
            <tr>
              <td><lable><%= subject %></lable></td>
              <td><lable><%= no_show %></lable></td>
            </tr>
          <%end%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="graph" class="span7">
  <div id="chart_div" style="width: 700px; height: 500px;"></div>
  <div id="chart_div2" style="width: 700px; height: 500px;"></div>
</div>

<script>
  var current_student_average = <%= raw @month_average %>
  var particular_students_average = <%= raw @average_particular_student_of_current_grade %>
  google.setOnLoadCallback(drawChart(current_student_average, particular_students_average ));
  
  function drawChart(current_student_average, particular_students_average) {
    var data = google.visualization.arrayToDataTable(current_student_average);
    var data2 = new google.visualization.arrayToDataTable(particular_students_average);
    var options = {
      title: 'Average Of Selected Student',
      vAxis: { title: "Average", minValue: 0, maxValue: 10 },
      hAxis: { title: "Month"},
      pointSize: 5
    };
    var options2 = {
      title: 'Average Of All Students Of the Grade',
      vAxis: { title: "Student Average", minValue: 0, maxValue: 10 },
      hAxis: { title: "Student name"},
      pointSize: 5,
      lineSize: 0,
      series: {
            0: {
                color: 'green'
            }
        }
    };
    
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
    chart2.draw(data2, options2);
  }
</script>
