<div id="student_parent_dashboard">
  <div class="span10">
    <% if current_parent && @parent_students.size > 0 %>
      <div class= "span4">
        <label><%= t('users.student_parent_dashboard.see_data_of_student') %></label>
        <%= form_tag(change_student_users_path, :method => :post, :remote => true, :id=>'select_student_form') do %>
          <%= select_tag "student_list", options_for_select(student_options_for_parent) %>
        <% end %>
        <%= render partial: "change_school"%>
      </div>
    <% end %>
    <% if current_student %>
      <div class= "span4">
        <%= render partial: "change_school"%>
      </div>
    <% end %>
    <%=render partial:"change_date_range"%>  
  </div>    
  <div class="span10 move_down">
    <%= render partial:"student_details" %>  
    <%=link_to t('users.student_parent_dashboard.see_current_bimester'), "javascript: void(0)", :id=>"current_bimester",class: 'btn move_right' %>
  </div>

  <div class='span10 move_down'>
    <b><%= t('users.student_parent_dashboard.select_subjects') %></b>
    <%= form_tag(change_subjects_users_path, :id=>'select_subject_form') do %>
      <%= hidden_field_tag :student_id_of_subject, @student.id %>
      <%= hidden_field_tag :student_status_id_of_subject, @student_school_status.id unless @student_school_status.blank? %>
      <select id="select_subject" name="subjects[]" multiple="multiple">
        <% @subject_average.each do |subject,average| %>
          <option value="<%= subject %>"><%= subject %></option>
        <% end %>
      </select>  
    <% end %>
    
  </div>
  <%= render partial:"show_average_and_noshow"%>

  <div id="student_parent_graph" class="span7">
    <div id="chart_div" style="width: 700px; height: 500px;"></div>
    <div id="chart_div2" style="width: 700px; height: 500px;"></div>
  </div>
</div>


<script>
  var current_student_average = <%= raw @month_average %>
  var particular_students_average = <%= raw @average_particular_student_of_current_grade.to_json %>
  google.setOnLoadCallback(drawChart(current_student_average, particular_students_average ));
  function drawChart(current_student_average, particular_students_average) {
    var data = google.visualization.arrayToDataTable(current_student_average);
    var data2 = new google.visualization.arrayToDataTable(particular_students_average);
    var options = {
      backgroundColor:'#FFFFCC',
      vAxis: { title: "Average", minValue: 0, maxValue: 10,
               titleTextStyle: {fontName: 'Times-Roman',
                                 fontSize: 16,
                                 bold: true,
                                 italic: true,
                                 color: 'blue',     // The color of the text.
                                 auraColor: '#d799ae', // The color of the text outline.
                                 opacity: 0.8
                                } 
             },
      hAxis: { title: "Bimester",
               titleTextStyle: {fontName: 'Times-Roman',
                                 fontSize: 16,
                                 bold: true,
                                 italic: true,
                                 color: 'blue',     // The color of the text.
                                 auraColor: '#d799ae', // The color of the text outline.
                                 opacity: 0.8
                                } 
             },
      pointSize: 5
    };
    var options2 = {
      backgroundColor:'#B2B28F',
      vAxis: { title: "Student Average", minValue: 0, maxValue: 10, 
               titleTextStyle: {fontName: 'Times-Roman',
                                 fontSize: 16,
                                 bold: true,
                                 italic: true,
                                 color: 'blue',     // The color of the text.
                                 auraColor: '#d799ae', // The color of the text outline.
                                 opacity: 0.8
                                 } 
              },
      hAxis: { title: "Student", 
               titleTextStyle: {fontName: 'Times-Roman',
               fontSize: 16,
               bold: true,
               italic: true,
               color: 'blue',     // The color of the text.
               auraColor: '#d799ae', // The color of the text outline.
               opacity: 0.8
               }
             },
      pointSize: 5,
      interpolateNulls: true,
      series: {
            0: {
                lineWidth: 0,
                color: 'green'
            },
            1: {
                lineWidth: 0,
                color: 'blue'
            },
            2: {
                color: 'red'
            }
        }
    };
    
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
    chart2.draw(data2, options2);
  }
</script>

