<div class="col-md-12 col-sm-12 col-xs-12 padd_none name_data" id="student_detail">
  <h4>
    <% if current_parent %>
      <%= t('users.student_parent_dashboard.data_of') %>
      <%= @parent_students.first.student_name %>
      <% if select_default_start_bimester != select_default_end_bimester  %>
        From <%= select_default_start_bimester %> <%= set_selected_year %>
        Untill <%= select_default_end_bimester %> <%= set_selected_year %>
      <% else %>
      For: <%= select_default_start_bimester %> <%= set_selected_year %>
      <% end %><br/>    
      <span>
        <%= t('users.student_parent_dashboard.school_name') %>
        <%= @student_school_status.school.name %>,
        <%= t('users.student_parent_dashboard.grade_name') %> 
        <% unless @student_monthly_grades.blank? %>
          <%= @student_monthly_grades.first.grade_name+ '-'  + @student_monthly_grades.first.grade_class %>
        <% end %>
      </span>  
    <% end %>
    <% if current_student || current_school_administration %>
      <%= t('users.student_parent_dashboard.data_of') %>
      <%= @student.student_name %>
      <% if select_default_start_bimester != select_default_end_bimester  %>
        From <%= select_default_start_bimester %> <%= set_selected_year %>
        Untill <%= select_default_end_bimester %> <%= set_selected_year %>
      <% else %>
      For: <%= select_default_start_bimester %> <%= set_selected_year %>
      <% end %><br/>    
      <span>
        <%= t('users.student_parent_dashboard.school_name') %>
        <%= @student_school_status.school.name %>,
        <%= t('users.student_parent_dashboard.grade_name') %> 
        <% unless @student_monthly_grades.blank? %>
          <%= @student_monthly_grades.first.grade_name+ '-'  + @student_monthly_grades.first.grade_class %>
        <% end %>
      </span>  
    <% end %>  
  </h4>  
</div>
