$("#select_subject").multiselect('destroy');
$('#select_subject').find('option').remove();

<% unless @student_monthly_grades.blank? %>
  <% @student_monthly_grades.map(&:subject_name).uniq.each do |subject|%>
    $("#select_subject").append($("<option value='<%= subject %>'><%= subject %></option>"));
  <% end %>  
  drawChart(<%= raw @month_average%>, <%= raw @average_particular_student_of_current_grade %>);

  $('#change_date_range').replaceWith("<%= j render 'change_date_range'%>")
  $('#show_average_and_noshow').replaceWith("<%= j render 'show_average_and_noshow'%>")
  $('#change_school').replaceWith("<%= j render 'change_school'%>")

  $('#student_detail').html("<b>Display data of student name - <%= @student.student_name%></b></br><b>From <%= select_default_start_bimester %> <%= set_selected_year %> Untill <%= select_default_end_bimester %> <%= set_selected_year %></b></br><b>School Name - <%= @student_school_status.school.name %></br><b>Grade Name - <%= @student_monthly_grades.first.grade_name+@student_monthly_grades.first.grade_class %></b>");
<% end %>
$("#select_subject").multiselect({
  onChange: function(element, checked) {
    $.post("/users/change_subjects",$("#select_subject_form").serialize());
  },
  includeSelectAllOption: true
});

$('#sub_input_year,#sub_input_start,#sub_input_end').remove();

$("#student_id_of_subject").val(<%= @student.id%>)
$("#student_id").val(<%= @student.id%>)
$("#student_status_id_of_subject").val(<%= @student_school_status.id%>)

$('#month_subject_list').remove()
<% unless params[:subject_selected].blank? or (@student_monthly_grades.map(&:subject_name) & params[:subject_selected].split(',')).blank?%>
  $('#change_month_form').append("<input type='hidden' name='subject_selected' id='month_subject_list' value='<%= params[:subject_selected]%>'>");
  <% params[:subject_selected].split(',').each do |subject| %>
    $("#select_subject").find("option[value='<%= subject %>']").prop("selected", "selected");
    $("#select_subject").multiselect('refresh');
  <% end %>
<% end %>
