$("#select_subject").multiselect('destroy');
$('#select_subject').find('option').remove();

<% unless @student_monthly_grades.blank? %>
  <% @student_monthly_grades.map(&:subject_name).uniq.each do |subject|%>
    $("#select_subject").append($("<option value='<%= subject %>'><%= subject %></option>"));
  <% end %>  
  drawChart(<%= raw @month_average%>, <%= raw @average_particular_student_of_current_grade.to_json %>);

  $('#change_date_range').replaceWith("<%= j render 'change_date_range'%>")
  $('#show_average_and_noshow').replaceWith("<%= j render 'show_average_and_noshow'%>")
  $('#student_detail').replaceWith("<%= j render 'change_student_details'%>")
  
<% end %>
$("#select_subject").multiselect({
  onChange: function(element, checked) {
    $.post("/users/change_subjects",$("#select_subject_form").serialize());
  },
  includeSelectAllOption: true
});

$('#sub_input_year,#sub_input_start,#sub_input_end').remove();

$("#student_id_of_subject").val(<%= @student.id%>)
$("#student_id").val(<%= @student.id%>)
$("#student_status_id_of_subject").val(<%= @student_school_status.id%>)
