$('#subject_list table > tbody').empty();
$('#no_show_list table > tbody').empty();
<% @subject_average.each do |subject,average|%>
  $("#select_subject").append($("<option value='<%= subject %>'><%= subject %></option>"));
  $('#subject_list table > tbody').append("<tr><td><%= subject %></td><td><%= average %></td></tr>");
<% end %>  
<% @total_no_show.each do |subject,no_show|%>
  $('#no_show_list table > tbody').append("<tr><td><%= subject %></td><td><%= no_show %></td></tr>");
<% end %>  

$('#overall_average').text('Overall Average: <%= @overall_average %>');
drawChart(<%= raw @month_average%>, <%= raw @average_particular_student_of_current_grade %>);

