$("#select_subject").multiselect('destroy');
$('#select_subject').find('option').remove();

<% @student_monthly_grades.map(&:subject_name).uniq.each do |subject|%>
  $("#select_subject").append($("<option value='<%= subject %>'><%= subject %></option>"));
<% end %>  

$("#select_subject").multiselect({
  onChange: function(element, checked) {
    $.post("/users/change_subjects",$("#select_subject_form").serialize());
  },
  includeSelectAllOption: true
});

$('#student_detail').html("<b>Seeing data of student name :- <%= @student.student_name%></b></br><b>School Name:- <%= @student.school.name %></br><b>Grade Name:- <%= @student.current_grade %></b>");
$("#student_id_of_select_subject").val(<%= @student.id%>)
$("#student_id").val(<%= @student.id%>)

drawChart(<%= raw @month_average%>, <%= raw @average_particular_student_of_current_grade %>);

$('#change_date_range').replaceWith("<%= j render 'change_date_range'%>")
$('#show_average_and_noshow').replaceWith("<%= j render 'show_average_and_noshow'%>")

<% unless params[:subject_selected].blank? %>
  $('#month_subject_list').remove()
  $('#change_month_form').append("<input type='hidden' name='subject_selected' id='month_subject_list' value='<%= params[:subject_selected]%>'>");
  <% params[:subject_selected].split(',').each do |subject| %>
    $("#select_subject").find("option[value='<%= subject %>']").prop("selected", "selected");
    $("#select_subject").multiselect('refresh');
  <% end %>
<% end %>
