<% if @student_monthly_grades.blank? %>
  alert("No grade of selected month range are present")
  location.reload(true); 
<% else %>
  $("#select_subject").multiselect('destroy');
  $('#select_subject').find('option').remove();
  
  <% @student_monthly_grades.map(&:subject_name).uniq.each do |subject|%>
    $("#select_subject").append($("<option value='<%= subject %>'><%= subject %></option>"));
  <% end %> 
  
  $("#select_subject").multiselect({
    onChange: function(element, checked) {
      $.post("/users/change_subjects",$("#select_subject_form").serialize());
    },
    includeSelectAllOption: true
  });
  
  <% if params[:subject_selected].blank? %>
    $("option", $("#select_subject")).each(function(element) {
      return $("#select_subject").multiselect("select", $(this).val());
    });
  <% end %>
  
  drawChart(<%= set_month_average_to_graph %>, <%= set_average_particular_student_to_graph %>);
  
  $('#change_date_range').replaceWith("<%= j render 'change_date_range'%>")
  
  <% unless params[:subject_selected].blank? %>
    $('#month_subject_list').remove()
    $('#change_month_form').append("<input type='hidden' name='subject_selected' id='month_subject_list' value='<%= params[:subject_selected]%>'>");
    <% params[:subject_selected].split(',').each do |subject| %>
      $("#select_subject").find("option[value='<%= subject %>']").prop("selected", "selected");
      $("#select_subject").multiselect('refresh');
    <% end %>
  <% end %>
  $('#student_detail').replaceWith("<%= j render 'student_details'%>")
  
  $("#stu_input_year,#stu_input_start,#stu_input_end").remove();
  
  $('#select_student_form').append("<input type='hidden' name='year' id='stu_input_year' value="+<%=params[:date][:year]%>+">");
  $('#select_student_form').append("<input type='hidden' name='start' id='stu_input_start' value="+'"<%=params[:start_month]%>"'+">");
  $('#select_student_form').append("<input type='hidden' name='end' id='stu_input_end' value="+'"<%=params[:end_month]%>"'+">");
  
  $("#sub_input_year,#sub_input_start,#sub_input_end").remove();
  
  $('#select_subject_form').append("<input type='hidden' name='year' id='sub_input_year' value="+<%=params[:date][:year]%>+">");
  $('#select_subject_form').append("<input type='hidden' name='start_month' id='sub_input_start' value="+'"<%=params[:start_month]%>"'+">");
  $('#select_subject_form').append("<input type='hidden' name='end_month' id='sub_input_end' value="+'"<%=params[:end_month]%>"'+">");
  
  $('#show_average_and_noshow').replaceWith("<%= j render 'show_average_and_noshow'%>")
  
  var bimesterNames = [ "1st bimester", "2nd bimester", "3rd bimester", "4th bimester" ];
  var start_bimester = bimesterNames.indexOf($('#start_month').find(":selected").val());
  var  end_bimester = bimesterNames.indexOf($('#end_month').find(":selected").val());
  var i = end_bimester
  while( i >= 0 ){  
    $("#end_month option[value='"+String(bimesterNames[i])+"']").prop("disabled",false);
    i--
  }
  i = 0
  while (i < start_bimester){
    $("#end_month option[value='"+String(bimesterNames[i])+"']").prop("disabled","true");
    i++
  }  

<% end %>  
