$('#subject_list table > tbody').empty();
$('#overall_average').text('Overall Average:- ')
<% unless params[:sub]=="null" %>
  <% if @subjects == 'all' %>
    <% @subject_average.each do |subject,average| %>
      $('#subject_list table > tbody').append("<tr><td><%= subject %></td><td><%= average %></td></tr>");
    <% end %>
    $('#overall_average').text('Overall Average:- <%= @average %>');  
  <% else %>
    <% @subject_average.each do |subject,average|%>
      $('#subject_list table > tbody').append("<tr><td><%= subject %></td><td><%= average %></td></tr>");
    <% end %>
    $('#overall_average').text('Overall Average:- <%= @average %>');
  <% end %>
<% end %>
