<div><%= back_button %></div> 
<div class='container '>
    <div class = "panel panel-default">
      <div class = "panel-heading"> 
        <h5 class = "panel-title">Records For Professor</h5>
      </div>
    <div class ="panel-body">
     <%= nested_form_for @professor_record, url: register_new_professor_record_professors_path, method: :post do|f|%>
       <% if @professor_record.errors.any? %>
         <div id="error_explanation" class="alert alert-block alert-error">
             <a class="close" data-dismiss="alert" href="#">X</a>
           <h4 class = "alert-heading"><%= pluralize(@professor_record.errors.count, "error") %>Something went wrong!</h4>
           <ul>
             <% @professor_record.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
       <% end %>
       <div>
         <%= f.label :name %>
       </div>
       <div>
         <%= f.text_field :name, :class => "input-medium" %><br>
       </div>
       <div class = "new_professor">
         <%= f.fields_for :school_grades do |builder| %>
           <div class ="div_align">
             <div> <%= builder.label :grade_name %>
             </div> 
             <div> 
               <%= builder.select :grade_name_id, options_for_select(school_grade_with_id) %>
             </div>
           </div>
           <div class = "professor_grade">
             <div class ="div_width">
               <%= builder.label :grade_class %>
             </div>
             <div class ="selection_width"> 
               <%= builder.select :grade_class, options_for_select(school_grade_classes(school_grade_with_id)) %>
             </div>
           </div>
           <div class ="div_align">
             <div>
               <%= builder.label :subject %>
             </div>
             <div>
               <%= builder.autocomplete_field :subject_id, autocomplete_subject_name_professors_path, :class => "input-medium"%>
             </div>
           </div> 
           <div class ="div_width"> 
             <%= builder.label :subject_average %>
           </div>
           <div class ="div_width">
             <%= builder.text_field :subject_average, :class => "input-medium"%><br>
           </div>
           <% if @counter == 1%>
             <%= builder.link_to_remove "Remove" %>
           <%end%>
         <% end %>
            <%= f.link_to_add "Add more grades", :school_grades %>
            <% @counter = 1 %>
       </div>
       <%= f.submit "save", :class=>'btn'%>
     <%end%>
     </div>
    </div>
  </div> 



<script type="text/javascript">
  $('#professor_record').datepicker({
    format: "dd/mm/yyyy",
    startView: 2
  });
</script>
