<div id="subject_list" class="span6 move_down">
  <h5><%= t('professor.show_students.you_can_assign_bimester_grade_to_following_students') %></h5>
  <%= form_tag( show_students_professors_path, :method => :post, :id=> "month_form") do %>
    <%= hidden_field_tag :school_id, @school.id%>
    <%= hidden_field_tag :subject, @subject %>
    <%= hidden_field_tag :grade_name, @grade_name %>
    <%= hidden_field_tag :grade_class, @grade_class %>
    <%= select_tag "bimester", options_for_select(BIMESTER, @bimester), onchange: "$('#month_form').submit();" %>
  <% end %>  
  <h5><%= t('professor.show_students.show_data_of_month')%> '<%= @bimester %>'</h5>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <th><%= t('professor.show_students.student_name') %></th>
      <th><%= t('professor.show_students.grade') %></th>
      <th><%= t('professor.show_students.month_grade') %></th>
      <th><%= t('professor.show_students.month_no_show') %></th>
    </tr>
    </thead>
    <tbody>
      <%if @students.present? %>
        <% @students.each do |student| %>
          <% monthly_grade = student.student_grade(@subject, @bimester) || MonthlyGrade.new %>
          <tr>
            <td><%= student.student_name%></td>
            <td><%= @grade_name + @grade_class %></td>
            <td>
              <%= best_in_place monthly_grade, :grade, :type => :input, :value=>"please", :path=>update_grade_path(student_id: student.id, subject: @subject, bimester: @bimester, grade_name: @grade_name, grade_class: @grade_class), :ok_button=>"Save grade", :ok_button_class=>'btn btn-primary', :data => student.id, :nil => "Click me to add content!", :cancel_button => 'Cancel', :classes => "dis_block" %>  
            </td>
            <td>
              <%= best_in_place monthly_grade, :no_show, :type => :input, :value=>"please", :path=>update_no_show_path(student_id: student.id, subject: @subject, bimester: @bimester, grade_name: @grade_name, grade_class: @grade_class), :ok_button=>"Save no show", :ok_button_class=>'btn btn-primary', :data => student.id, :nil => "Click me to add content!", :cancel_button => 'Cancel', :classes => "dis_block" %>  
            </td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  jQuery(".best_in_place").best_in_place();
</script>
