<div id="subject_list" class="span6 move_down">
  <h5>You can assign month grade to Following students</h5>
  <%= form_tag( show_students_professors_path, :method => :post, :id=> "month_form") do %>
    <%= hidden_field_tag :school_id, @school.id%>
    <%= hidden_field_tag :subject, @subject %>
    <%= hidden_field_tag :grade, params[:grade] %>
    <%= select_tag "month", options_for_select(MONTH, @month), onchange: "$('#month_form').submit();" %>
  <% end %>  
  <h5>Show data of month '<%= @month %>'</h5>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <th><%= t('Student_name') %></th>
      <th><%= t('Grade') %></th>
      <th><%= t('Month_Grade') %></th>
      <th><%= t('Month_No_Show') %></th>
    </tr>
    </thead>
    <tbody>
      <%if @students.present? %>
        <% @students.each do |student| %>
          <% monthly_grade = student.student_grade(@subject, @month) || MonthlyGrade.new %>
          <tr>
            <td><%= student.student_name%></td>
            <td><%= student.current_grade%></td>
            <td>
              <%= best_in_place monthly_grade, :grade, :type => :input, :value=>"please", :path=>update_grade_path(:student_id=>student.id, :subject => @subject, :month=> @month), :ok_button=>"Save grade", :ok_button_class=>'btn btn-primary', :data => student.id, :nil => "Click me to add content!" %>  
            </td>
            <td>
              <%= best_in_place monthly_grade, :no_show, :type => :input, :value=>"please", :path=>update_no_show_path(:student_id=>student.id, :subject => @subject, :month=> @month), :ok_button=>"Save no show", :ok_button_class=>'btn btn-primary', :data => student.id, :nil => "Click me to add content!" %>  
            </td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  jQuery(".best_in_place").best_in_place();
</script>
