<div class="alignment">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <h5 class="panel-title " >Student List</h5>
    </div>
    <div class="panel-body">
      <% @students.each do |student| %>
        <%= student.student_name %> - <%= student.school.name %></br>
      <% end %>
      <%= form_tag create_registration_with_cpf_parents_path do %>
        <div>
          <h5>Enter CPF to add student</h5>
          <%= text_field_tag :cpf %></div>
        <div>
          <%= submit_tag "Submit",class:"btn btn-normal" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

