<div class='container middle_section'>
  <div id="subject_list" class="span6 move_down" >
    <%= back_button %>  
    <h5>Records for student</h5>
    <table>
    <%= form_for @student, url: student_from_excels_path(:id => @student), method: :post do|f|%>
      <% if @student.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@student.errors.count, "error") %>Something went wrong!</h2>
          <ul>
            <% @student.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <table>    
      <tr>  
        <td><%= f.label "", :RA %></td>
        <td><%= f.text_field :first_ra %></td>
      </tr>
      
      <tr>
        <td><%= f.label :student_name %></td>
        <td><%= f.text_field :student_name %></td>
      </tr>
      
      <tr>
        <td><%= f.label "First Parent Name" %></td>
        <td><%= f.text_field :parent_name_1 %></td>
      </tr>
      
      <tr>
        <td><%= f.label "Second Parent Name" %></td>
        <td><%= f.text_field :parent_name_2 %></td>
      </tr>
    </table>    
    <div>
      <%= f.fields_for :student_statuses do |builder| %>
        <%= builder.label :current_grade %>
        <%= builder.select :current_grade, options_for_select(uniq_school_grade_name) %><br>
        <%= builder.label :grade_class %>
        <%= builder.select :grade_class, options_for_select(school_grade_classes) %>
        <%= builder.hidden_field :year, :value=>Date.today.year %>
      <% end %>
    </div>
    <%= f.submit "save", :class=>'btn'%>
    <%end%>
  </div>
</div>  


<script type="text/javascript">
  $('#student_from_excel_birth_day').datepicker({
    format: "dd/mm/yyyy",
    viewMode: "years",
    startView: 2
  });
  
</script>
