<div id="subject_list" class="container">
  <%= back_button %>  
  <h5>Records for student</h5>
  <%= form_for @student, url: student_from_excels_path(:id => @student), method: :post do|f|%>
    <% if @student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@student.errors.count, "error") %>Something went wrong!</h2>
        <ul>
          <% @student.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
  <div>  
    <%= f.label "", :RA %>
    <%= f.text_field :first_ra %><br>
  </div>
  
  <div>
    <%= f.label :student_name %>
    <%= f.text_field :student_name %><br>
  </div>
  
  <div>
    <%= f.label "First Parent Name" %>
    <%= f.text_field :parent_name_1 %><br>
  </div>
  
  <div>
    <%= f.label "Second Parent Name" %>
    <%= f.text_field :parent_name_2 %><br>
  </div>
  
  <div>
    <%= f.fields_for :student_statuses do |builder| %>
      <%= builder.label :current_grade %>
      <%= builder.text_field :current_grade %><br>
      <%= builder.label :grade_class %>
      <%= builder.text_field :grade_class %><br>
      <%= builder.hidden_field :year, :value=>Date.today.year %>
    <% end %>
  </div>
  <%= f.submit "save", :class=>'btn'%>
  <%end%>
</div>

<script type="text/javascript">
  $('#student_from_excel_birth_day').datepicker({
    format: "dd/mm/yyyy",
    startView: 2
  });
  
</script>
