<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!--<a class="brand" href="#">SchoolSystem</a>-->
      <div class="container nav-collapse">
        <ul class="nav">
          <% if !current_user.present? %>
            <li><%=link_to "Sign up", signup_users_path %></li>
            <li><%=link_to "Sign in", new_user_session_path %></li>
          <% elsif current_user.is_admin? %>
            <li><%= link_to "Dashboard",admins_path%></li>
            <li><%= link_to "My profile",edit_user_registration_path%></li>
            <li><%= link_to "Sign out",destroy_user_session_path, :method => :delete%></li>
          <%else%>
            <li><%= link_to "Dashboard",users_path%></li>
            <% if current_user.is_parent? %>
              <li><%= link_to "Students",new_student_parents_path %></li>
            <% end %>  
            <li><%= link_to "My profile",edit_user_registration_path%></li>
            <li><%= link_to "Sign out",destroy_user_session_path, :method => :delete%></li>  
          <%end%>  
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
