<header>
  <div class="container">
    <div class="col-md-6 col-sm-4 col-xs-12 padd_none">
      <%= link_to image_tag('logo.png'), root_path, class: "logo" %>
    </div>
    <div class="col-md-5 col-sm-8 col-xs-12 padd_none">
      <div class="row user_name text-right">
        <% if current_user.present? %>
          <b class='user_name'>Hello <%= current_user.name %></b>
        <% end %>
      </div>
      <div class="row top_menu">
        <ul class="nav nav-pills pull-right">
          <% if !current_user.present? %>
            <li><%=link_to "First access", signup_users_path, :class => 'nav_header_icon' %></li>
            <li><%=link_to "Login", new_user_session_path, :class => 'nav_header_icon' %></li>
          <% elsif current_school_administration %>
            <li class="active"><%= link_to "Dashboard",school_administrations_path, :class => 'nav_header_icon' %></li>
            <li><%= link_to "My profile",edit_user_registration_path, :class => 'nav_header_icon' %></li>
            <li><%= link_to "Logout",destroy_user_session_path, :method => :delete, :class => 'nav_header_icon'%></li>
          <% elsif current_professor %>
            <li><%= link_to "Dashboard",professors_path, :class => 'nav_header_icon' %></li>
            <li><%= link_to "My profile",edit_user_registration_path, :class => 'nav_header_icon' %></li>
            <li><%= link_to "Add New account",add_new_professor_account_path, :class => 'nav_header_icon' %></li>
            <li><%= link_to "Logout",destroy_user_session_path, :method => :delete, :class => 'nav_header_icon'%></li>
          <% elsif current_parent || current_student %>
            <li><%= link_to "Dashboard",users_path%></li>
            <% if current_parent %>
              <li><%= link_to "Students",new_student_parents_path, :class => 'nav_header_icon' %></li>
            <% end %>  
            <li><%= link_to "My account",edit_user_registration_path, :class => 'nav_header_icon' %></li>
            <% if current_student %>
              <li><%= link_to "Add New account",add_new_student_account_path, :class => 'nav_header_icon' %></li>
            <% end %>
            <li><%= link_to "Logout",destroy_user_session_path, :method => :delete, :class => 'nav_header_icon' %></li>  
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</header>

    
