<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SchoolSystem" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render partial:"layouts/header"%>
    <div class="container">
      <div class="row">
        <div class="span10 move_div_down">
          <%= bootstrap_flash %>
          <%= yield %>        
        </div>
      </div>  
      
      <!--footer>
        <p>&copy; Company 2014</p>
      </footer-->
    </div> <!-- /container -->

  </body>
</html>
