<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SchoolSystem" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class='loading'>
      <%= image_tag('loading.gif')%>
    </div>
    <%= render partial:"layouts/header"%>
    <%= render partial:"layouts/flash_messages" %>

    <div>
      <%= yield %>        
    </div> <!-- /container -->
    <footer>
      <div class="top_menu">
        <ul class="align-center nav nav-pills">
          <li><a href="#">Política de privacidade</a></li>
          <li><a href="#">Termos de uso</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
